<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  routerLink="home">ngComics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="shop" routerLinkActive="active"><i class="fa fa-book" aria-hidden="true"></i> Store</a>
            </li>
            <li class="nav-item icon-item">
                <a class="nav-link" routerLink="cart" routerLinkActive="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
            </li>
            <li class="nav-item icon-item">
                <a class="nav-link" routerLink="login" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search comics">
        </form>
    </div>
</nav>