.nav-item{
    font-size: 1em;
}

.navbar-brand{
  font-family: 'Bangers', cursive;
  font-size: 1.5rem;
}

.icon-item, .icon-item a{
  padding: 0;
  list-style: none;
}

.icon-item{
  font-size: 1.5rem;
  margin: 0 1rem;
}

#buscador{
  font-family: 'Bangers', cursive;
}


.nav-link{
  font-size: 0.77rem;
}

ul li a.nav-link {
  color: black;
}
ul li a.active{
  color: black;
  border-bottom: 2px solid black;
}

ul li a.nav-link:hover{
}


.navbar{
  /*width: 100%;*/
  /*z-index: 999;*/
  /*position: fixed;*/
  border: none;
  box-shadow: 0 2px 5px lightgray;
}