<footer>
  <a class="nav-link" ><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2018</a> 
  <img  src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" onclick="window.open('http://creativecommons.org/licenses/by-sa/4.0/','cc','width=500,height=500')" />

  <a class="nav-link route" routerLink="about"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
  <a class="nav-link route" routerLink="map"><i class="fa fa-sitemap" aria-hidden="true"></i> Site Map</a>
</footer>
