<div class="jumbotron web-banner">
  <div class="container text-center">
    <h1>NgComics</h1>
  </div>
</div>

<hr>

<app-products [type]="'last'"></app-products>

<hr>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error illo iste magni molestiae quasi sunt unde
  veritatis vitae voluptatibus. Enim fugit id libero minus provident quos reiciendis totam vel?
</div>
<div>Aliquam consequatur ducimus iste iure laudantium, nam nisi quisquam rem sapiente veritatis? Aspernatur autem
  dolorem explicabo id iure magni maxime natus, nemo quas quibusdam quisquam recusandae rerum suscipit. Dolorum, magni.
</div>
<div>Architecto aspernatur commodi cupiditate dolore ex iste iusto laborum, libero nulla porro, repellendus
  reprehenderit sequi temporibus ut veritatis. Autem dicta modi, neque optio perferendis quaerat quam quisquam
  reiciendis sunt totam.
</div>
<div>Eius error et, ipsum iure maiores nulla quae quibusdam totam ullam. Adipisci blanditiis esse illo ipsa molestiae,
  sunt velit. Aliquam cupiditate exercitationem odio odit quia quo veritatis. Dolorem laborum, reprehenderit?
</div>
<div>Ad aliquid aut corporis doloribus et fugit laudantium molestias, neque quod recusandae! Asperiores consectetur
  consequatur corporis eligendi eum iure, libero, minima neque nihil quae quasi qui quia similique tempora vel.

</div>
<div>Ad asperiores dolores inventore, obcaecati odit vel veritatis? Animi atque blanditiis culpa deleniti dolor dolores,
  id ipsa provident repellendus ullam? Aspernatur laborum nobis officia quam repudiandae similique suscipit vel, velit.
</div>
<div>Amet, architecto cupiditate delectus deserunt distinctio earum enim eos esse est fugiat fugit illum ipsa iure
  libero minima minus nemo nihil, nulla obcaecati odit porro repellat soluta, tempore veniam vero!
</div>
<div>Ab accusamus autem commodi, cupiditate debitis dolorum eius explicabo fuga illo iusto libero molestiae numquam odio
  quaerat quasi quis totam ullam! Atque, culpa eos explicabo id modi nemo nulla. Rerum.
</div>
<div>Ad aliquid commodi consectetur deserunt distinctio eum excepturi facere, ipsa ipsum itaque iusto minus mollitia
  natus necessitatibus nisi nulla officiis praesentium quasi recusandae reiciendis sit unde velit veritatis voluptate
  voluptates.
</div>
<div>Ab aspernatur blanditiis consequuntur deleniti, dolor, facere fugiat itaque natus neque nobis totam unde veniam.
  Excepturi libero maxime nemo numquam odit officia repellendus tenetur. Ad adipisci commodi laudantium magni nisi.
</div>
<div>Aliquid beatae consectetur doloribus ducimus et nam odit placeat praesentium quas recusandae repellendus,
  temporibus ut vero? Aperiam, earum et laborum magnam molestiae nisi odit officia quaerat quasi quibusdam veritatis
  vitae!
</div>
<div>Ad, alias assumenda impedit laudantium maiores, mollitia necessitatibus non optio perspiciatis quis, quos
  reiciendis soluta suscipit unde voluptates. Dicta dolores earum sit! Deleniti est et facere fugit, quibusdam sed
  tempora!
</div>
<div>A eligendi eos expedita explicabo natus optio pariatur repudiandae. At dolorem iste itaque voluptatum. Alias animi
  assumenda debitis facilis fugiat fugit hic libero magni odio repellat sapiente, tempore vitae voluptatibus?
</div>
<div>Deleniti est id illum numquam quae quam quas sit veritatis! A accusamus accusantium, amet culpa doloremque enim
  eveniet iste molestiae molestias, praesentium quae quasi quis repellat sed sit ullam unde!
</div>
<div>Ab impedit minus officia omnis possimus. Ad error exercitationem laboriosam laborum odio provident sit, tempore
  ullam. Adipisci aut commodi consequuntur doloribus eum id maxime minima, molestias officia, provident quo voluptates.
</div>
<div>Amet cumque dicta dignissimos dolor esse, ex id laboriosam minima, mollitia nisi ratione, repellat sunt ut
  voluptate voluptates! Ad aperiam blanditiis consectetur dolor eaque error est fuga nulla quisquam totam?
</div>
<div>Ab accusamus dignissimos eligendi error eveniet, facere facilis hic illum, impedit incidunt ipsa iste iusto laborum
  libero, modi nemo obcaecati officia perferendis quasi ratione recusandae sapiente sed sit tempore voluptatibus.
</div>
<div>Alias deleniti expedita facere fuga, ipsa iure libero minus nam neque non nostrum pariatur quia quibusdam
  reiciendis, ut vitae, voluptatibus. Dignissimos excepturi facere fuga illum mollitia obcaecati repudiandae velit
  veritatis.
</div>
<div>Adipisci amet beatae blanditiis cupiditate, deleniti, error eum fugit impedit omnis quia sapiente similique
  voluptate! Asperiores dignissimos est fuga hic impedit maxime modi nulla, reiciendis sed voluptatum. Aspernatur,
  dolorem, hic!
</div>
<div>Consectetur consequatur expedita itaque magni minus natus, odit porro, quae quaerat quod repellat repellendus
  tempora tenetur? Alias itaque pariatur quaerat, quam ratione recusandae repellendus rerum sequi soluta sunt temporibus
  totam!
</div>
<div>Aliquam consequatur eius ipsa laborum minus natus nulla temporibus. Ab accusantium, aliquid aut culpa cumque
  deserunt dicta doloribus, et, inventore ipsa ipsum nemo nobis optio pariatur sequi similique suscipit velit?
</div>
<div>Ad aliquam at incidunt itaque odit qui quibusdam quisquam ratione repellat voluptatum. Explicabo fugiat ratione
  tempora! Autem culpa deserunt facere facilis harum illo itaque iusto sunt tempore ullam. Assumenda, quod!
</div>
<div>Ab, aliquam asperiores assumenda consequuntur cumque deleniti deserunt dolore dolorum eius et ex illum iure
  molestiae nesciunt nihil, non odit quibusdam quos rem repellendus sequi ut, veniam veritatis vitae voluptates?
</div>
<div>Aperiam cum ducimus nobis quae repudiandae saepe! Accusantium amet beatae, debitis doloremque, ducimus impedit nemo
  neque praesentium quibusdam quis quisquam quod sapiente. Aliquid blanditiis, iste nisi quaerat quos sed voluptas.
</div>
<div>Amet, animi consectetur delectus dolor eius nisi nostrum soluta. A accusamus, ad atque corporis cupiditate eius eos
  inventore, non obcaecati officiis omnis optio sequi sunt ullam unde ut voluptate voluptatem.
</div>
<div>A adipisci aliquid animi architecto atque blanditiis commodi consequatur doloremque eligendi error esse id ipsa
  labore molestias, mollitia non quo tempore ullam vitae voluptatum? Ducimus expedita molestiae nobis quae saepe.
</div>
<div>Animi deleniti ducimus eligendi excepturi, id modi molestias nisi nobis nostrum, omnis praesentium quis quisquam
  quos repellat reprehenderit repudiandae rerum sint sit voluptatem voluptatibus! Doloribus error explicabo ipsum
  quaerat velit!
</div>
<div>Deleniti laudantium quos rem sint tempora totam? Alias corporis eligendi facere hic mollitia nam nisi tenetur, ut
  velit veritatis. Amet blanditiis, deleniti eveniet fugiat minima neque numquam quisquam rem? Quasi!
</div>
<div>Accusantium adipisci aliquam culpa dolorum eius eligendi, esse excepturi exercitationem facere fugit impedit
  laboriosam laudantium libero magnam maxime molestiae neque nobis, obcaecati placeat provident quasi quibusdam quis
  repudiandae veritatis, voluptate.
</div>
<div>Accusamus ad amet animi aut blanditiis corporis cumque delectus dicta id ipsam ipsum minus mollitia nihil non odio
  pariatur praesentium, provident quibusdam rerum saepe tempore tenetur ut vitae voluptate voluptatem?
</div>

