<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#comic" id="comic-tab" role="tab">Comic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#volume" id="volume.tab" role="tab">Volume</a>
  </li>
</ul>


<!-- TABS -->

<section class="tab-content card ">
  <!-- Tab Comic -->
  <article class="tab-pane fade in show active" id="comic" role="tabpanel">

    <app-loading *ngIf="!complete"></app-loading>

    <div *ngIf="complete" class="row">
      <div class="col-md-6">
        <img src="{{ comic.issueImage.small_url}}" alt="">
      </div>

      <div class="col-md-6">
        <div class="name">
          <h2>{{comic.issueName}}</h2>
        </div>
        <div class="rate-price row">
          <div class="rate col-md-6">
            Rate: {{comic.rate | stars}}
          </div>
          <div class="price col-md-6">
            Price: {{comic.price | currency}}
          </div>

        </div>
        <div class="description" [innerHTML]="comic.issueDescription"></div>

        <div>
          <button type="button" class="btn btn-secondary" (click)="this.alertNotImplemented()">Add to wish list</button>
          <button type="button" class="btn btn-primary" (click)="addCart(comic.issueId); this.alertCart()">Add to cart</button>
        </div>
      </div>
    </div>
  </article>

  <!-- Tab Volumen -->
  <article class="tab-pane fade" id="volume" role="tabpanel">

    <app-loading *ngIf="!complete"></app-loading>

    <div *ngIf="complete" class="row">

      <div class="visor col-md-6">
        <div class="principal">
          <img [src]=currentVComic.issueImage.small_url alt="">
        </div>

        <div class="allImages">
          <div class="imagesVolume" *ngFor="let vComic of volumeComics | paginate: { itemsPerPage: 4, currentPage: defaultPage }">
            <img [src]="vComic.issueImage.small_url" alt="" (click)="changeCurrentVComicImage(vComic.issueId)">
          </div>
          <pagination-controls previousLabel="" nextLabel="" (pageChange)="defaultPage = $event" class="pagination-class"></pagination-controls>
        </div>

      </div>

      <div class="volume col-md-6">

        <div class="volInfo row">
          <h1 class="title col-md-12 col-lg-8">
            {{volume.volumeName}}
          </h1>
          <div class="addCart col-md-12 col-lg-4">
            <button type="button" class="btn btn-primary" (click)="addVolume(volume.volumeIssues); this.alertCart()">Add to cart</button>
          </div>
        </div>

        <div class="comicsVolume">
          <div *ngFor="let vComic of volumeComics">
            <div class="vcomic row" [ngClass]="{'currentComic': vComic.issueName === currentVComic.issueName, 'routeComic': vComic.issueName === comic.issueName}">
              <!-- *ngIf="vComic.issueName === currentVComic.issueName" -->
              <div class="vComicTitle col-md-8">
                {{vComic.issueName}}
              </div>
              <button [routerLink]="['/shop', vComic.issueId]" type="button" class="col-md-4 btn btn-primary" onclick="$('#comic-tab').trigger('click')"
                [ngClass]="{'btn-secondary': vComic.issueName === comic.issueName}">view</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </article>
</section>
