.row{
    margin: 0;
}
.back{
    margin:  1em ;

    padding: 0.3em;
    border: solid black 2px;

    text-align: center;
    background-color: #1a1a1a;
    color: white;
}
#comic img{
    display: block;
    margin: auto;
    width: 80%;
    min-width: 50%;
}

#comic > div > div{
    padding: 1rem;
    /* flex: 1; */
}


#volume > div > div{
    padding: 1rem;

}



#volume .visor .allImages{
    display: block;
    white-space: nowrap;
}

#volume .visor .allImages .imagesVolume{
    display: inline-block;
    width: 25%;

}
#volume .visor .allImages img{
    width: 100%;
}



.visor .principal{
    display: block;
    margin: auto;
    width: 50%;
    min-width: 50%;
}

#volume img{
    padding: 1rem;
    flex: 1;
    width: 100%;

    cursor: pointer;
}

.volInfo{
    margin-bottom: 0.5rem;
}

.addCart button{
    padding: 1rem;
}

.title ,.addCart{
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.vComicTitle{
    padding-bottom: 1rem;
}

.vcomic button{
    width: 50%;
}



#volume .comicsVolume .vcomic{
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0,0.2)
}

.vcomic{
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.currentComic{
    background: rgba(0, 0, 0,0.2);
}

.routeComic{
    color: #fff;
    background: #1a1a1a;
}

.nav-item{
    margin: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #fff;
    background-color: #1a1a1a;
}

.description{
    padding: 1rem 0;
}


.pagination-class /deep/ .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination-class /deep/ .ngx-pagination .current{
    background: #1a1a1a;
  }
