#comic img{
    display: block;
    margin: auto;
    width: 80%;
    min-width: 50%;
}

#comic{
    /* display: flex; */
    
}

#comic > div{
    float: left;
    width: 50%;
    padding: 1rem;
    /* flex: 1; */
}


#volume > div{
    padding: 1rem;

    width: 50%;
    float: left;
}



#volume .visor .allImages{
    display: flex;
}

.visor .principal{
    display: block;
    margin: auto;
    width: 50%;
    min-width: 50%;
}

#volume img{
    padding: 1rem;
    flex: 1;
    /* float: left; */
    width: 100%;
}

.volInfo{
    margin-bottom: 1rem;
}

#volume .comicsVolume .vcomic{
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0,0.2)
}

.current{
    background: lime;
}

.nav-item{
    margin: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #fff;
    background-color: #070707;
}