article{
  border: 2px solid black;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: #1a1a1a;
  color: white;
}

article header{
  padding: 1rem;
  background: white;
}

article > img{
  max-width: 200px;
  float: left;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid white;
  transition: 0.6s;
}

article > img:hover{
  transform: scale(2);
}

.body{
  padding: 1rem;
}

.body /deep/ * {
  color: white;
}

.pie{
  background: white;
  color: #1a1a1a;
  padding: 1rem;
  overflow: auto;
}

.author{
  float: left;
  line-height: 50px;
}

.more{
  text-align: center;
}
