.row > div{

    padding-top: 2rem;

}
textarea{

    resize: none;

}
.errorLabel{

    padding-top:10px ;
    color: #d9534f;
   visibility: hidden;

}

.custom-control-label::after{

    border: solid #4e4d4d 0.02px;
}
