<h2 *ngIf="type == 'last'">Last Comics</h2>
  <!-- <input type="text" [(ngModel)]="wordSearch" name="word" (keyup)="search()">
  {{wordSearch}} -->
<div class="comic-list row">
  <ng-container *ngIf="complete">
      <ng-container *ngFor="let comic of result | paginate: { itemsPerPage: 8, currentPage: defaultPage }; let i = index">
          <!--Todo: arreglar el row, crear un sistema en el que no haga falta clearfix-->
          <div class="clearfix" *ngIf="i % 4 == 0"></div>
          <app-comic [comic]="comic" class="col-md-3 col-sm-6 col-6"></app-comic>
        </ng-container>
  </ng-container>

  <div class="loading">
      <app-loading *ngIf="!complete"></app-loading>
  </div>

  
</div>

<pagination-controls *ngIf="type != 'last'"
                     (pageChange)="defaultPage = $event"
                     class="pagination-class"
                     previousLabel=""
                     nextLabel="">
</pagination-controls>
