/*El parametro deep permite sobrescribir estilos de otro componente distinto,
nos permite saltarnos la encapsulacion de Angular.*/

.pagination-class /deep/ .ngx-pagination .current {
  background: #1a1a1a;
  margin-top: 1.5rem;
}

.loading {
  margin: auto;
}
.noResults{
  width: 100%;
  font-size: 2em;
  text-align: center;
}
