<ul class="comic-list">
  <ng-container *ngFor="let comic of result | paginate: { itemsPerPage: 8, currentPage: defaultPage }">
    <li [routerLink]="['/shop', comic.issueId]" class="comic">
      <header class="comic-name">
        <span>{{comic.issueName}}</span>
      </header>
      <div class="comic-cover">
        <img src={{comic.issueImage.original_url}}  alt="Comic Cover">
      </div>
      <div class="comic-price">
        <span>{{comic.price | currency}}</span>
      </div>
      DATE:{{comic.coverDate}}
      <!--RATE:{{comic.rate}} <br>-->
      <!--PRICE:{{comic.price}}<br>-->
      <!--{{filter}}-->
      {{order1}}
    </li>
  </ng-container>
</ul>

<pagination-controls (pageChange)="defaultPage = $event" class="pagination-class"></pagination-controls>
