<div class="cart">
  <div class="row">
    <div class="col-md-8">
      <h1>Cart</h1>
    </div>
    <div class="col-md-4">
      <h3>Total: {{total| currency}}</h3>
    </div>
  </div>

  <table class="table table-hover">
    <ng-container *ngIf="complete">
      <thead>
        <tr>
          <th>Image</th>
          <th class="volumeInfo">Product</th>
          <th class="textCenter">Quantity</th>
          <th class="textCenter">Price</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="cartComics.length > 0">
          <tr class="comic" *ngFor="let comic of cartComics">
            <td class="img" [routerLink]="['/shop', comic.issueId]">
              <app-image [image]="comic.issueImage.small_url"></app-image>
            </td>
            <td class="volumeInfo">
              {{comic.issueName}}
              <br> {{comic.volumeName}}
            </td>
            <td>
              {{quantity[comic.issueId]}}
              <br>
              <button type="button" class="quantitydelete btn btn-primary" (click)="deleteQuantity(comic.issueId)">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </button>
              <button type="button" class="quantitydelete btn btn-primary" (click)="deleteAllQuantity(comic.issueId)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </td>
            <td>{{comic.price | currency}}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
              <td >
                  <button type="button" class="p-3 btn btn-primary" (click)="this.alertNotImplemented()">Buy Cart</button>
              </td>
              <td >
                  <button type="button" class="p-3 btn btn-primary" (click)="removeCart()">Remove Cart</button>
              </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="cartComics <= 0">
          No comics
        </ng-container>
      </tbody>
    </ng-container>

  </table>


  <div class="loading">
    <app-loading *ngIf="!complete"></app-loading>
  </div>

</div>
