*{
    margin: 0;
    padding: 0;
}

.header,.comic{
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.img{
   width: 10%; 
}
.img img {
    width: 100%;
}
img{
    width: 100%;
}

.comic > *{
    padding: 1rem;
}

th.textCenter, td.textCenter{
    text-align: center;    
}

.table td.volumeInfo, table th.volumeInfo{
    padding-left: 2rem;
    text-align: left;
}

td{
    text-align: center;
}


.table th, .table td {
    padding: 1rem 0.5rem;
}

.quantitydelete{
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}


.loading{
    margin: auto;
}




.quantity{
    display: flex;
    justify-content: center;
}

.quantity > *{
    flex: 1;
    padding: 0.5rem;
}

.quantity > input{
    flex: 2;
    padding: 0;
    text-align: center;
    width: 100%;
}