<div class="cart">
  <div class="row">
    <div class="col-md-8">
      <h1>Cart</h1>
    </div>
    <div class="col-md-4">
      <h3>Total: {{total| currency}}</h3>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th class="volumeInfo">Product</th>
        <th class="textCenter">Quantity</th>
        <th class="textCenter">Price</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="complete">
          <ng-container *ngIf="cartComics.length > 0">
              <tr class="comic" *ngFor="let comic of cartComics">
                <td class="img" [routerLink]="['/shop', comic.issueId]">
                  <img [src]="comic.issueImage.small_url" alt="" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                </td>
                <td class="volumeInfo">
                  {{comic.issueName}}
                  <br> {{comic.volumeName}}
                </td>
                <td>
                    {{quantity[comic.issueId]}}
                  <br>
                  <button type="button" class="quantitydelete btn btn-primary" (click)="deleteQuantity(comic.issueId)"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </td>
                <td>{{comic.price | currency}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="cartComics <= 0">
              No hay Comics en el carro
            </ng-container>
      </ng-container>

      <ng-container *ngIf="!complete">
        <img src="assets/loading.gif" alt="">

      </ng-container>
     

    </tbody>
  </table>

</div>
