*{
    margin: 0;
    padding: 0;
}

.header,.comic{
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.img{
   width: 10%; 
}
img{
    width: 100%;
}

.comic > *{
    padding: 1rem;
}
.product p{
}

th.textCenter, td.textCenter{
    text-align: center;    
}

.table td.volumeInfo, table th.volumeInfo{
    padding-left: 2rem;
    text-align: left;
}

td{
    text-align: center;
}


.table th, .table td {
    padding: 1rem 0.5rem;
}