.btn-group .active{
  background: white;
  color: #1a1a1a;
}

#filters{
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

#filters > *{
  margin: 0;
}

.ordenboton{
  overflow: hidden;
}
