/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bangers');

*{
  box-sizing: border-box;
}

::selection{
  background: #1a1a1a;
  color: white;
}

body{
}


.noradius{
  border-radius: 0;
}

.toast{
  color: #ffffff;
}

.modalToast{
  border-radius: 0;
}

