<div class="ad">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 cont ">

            <div class="side face1A"></div>
            <div class="side-back face1B"></div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-12 cont cont-delay">
            <a href="https://www.comic-con.org/cci/purchase-badges" target="_blank">
                <div class="side face2A"></div>
                <div class="side-back face2B">
                    <div class="adtext">
                        <h1>JOIN US THIS 19th JULY </h1>
                        <h2>BUY YOUR TICKETS HERE</h2>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<hr>
